    
body{
    background-color: bisque;
}

hr{
    border-style: dotted none none none;
    border-width: 6px;
    border-color: chocolate;                
    
    width: 20%;
    
}

h1 {
    color: #66BFBF;
}

h2 {
    color: #66BFBF;
}

h3 {
    color: #66BFBF;
}

