

@media (prefers-reduced-motion: no-preference){
    * {
        scroll-behavior: smooth;
        
      }
}



body {
    font-family: "Montserrat";
    
}

p {
    font-family: "Ubuntu";
    color: #8f8f8f;
}


.title-h1 {
    font-family: 'Montserrat', sans-serif;
    text-align: start;
    color: #fff;    
    font-size: 4rem;
    line-height: 1.5;
    margin-top: 45%; 
    margin-bottom: 5%;  
}

.iphone6 {
    padding-left: 10%;
    padding-top: 8%;
    transform: rotate(15deg);
}

#title {
    background-color: #ff4c68;
}

#features {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #fff;
    position: relative;
    bottom: 9rem;

}

#testimonials {
    
    text-align: center;
    background-color: #ff4c33;
    color: #fff;
}

#press {
    background-color: #ff4c33;
    text-align: center;
    padding-bottom: 3%;
}

#pricing {
  
    background-color: #fff;
    padding: 3%;
}



#cta {
    padding-top: 3rem;
    background-color: #ff4c68;
    text-align: center;
}

.cpyrght {
    padding: 1rem;
}

.card {
    background-color: #ff4c33;
    padding: 3%;
}






.carousel-item {
    padding: 6% 15%;
}

.press-logo {
    width: 10%;
    margin: 4%;
}

.testimonials-title {
    font-family: "Montserrat";
    font-size: 2.5rem;
    line-height: 1.5;
}

.testimonial-image {
    width: 15%;
    border-radius: 100%;
    margin: 3%;
}

.container-fluid {
    position: relative;
    padding: 2% 15%;
    text-align: center;
}

.btn {
    margin-right: 3%;
}

.navbar-brand {    
    font-family: "Ubuntu";
    font-size: 1.5rem;
    padding: 1%;    
    outline: auto; 
}



.nav-item {
    padding-right:5%;
}

.nav-link {
    font-family: "Ubuntu";
    
}


.feature-icon {
    margin-bottom: 2rem;
    color: #ff4c33;
    font-size: 5rem;
}

.feature-icon:hover {
    color: #ff4c68;
}

.info-item {
    text-align: center;
}



@media (max-width: 900px) {
    .iphone6{
        position: static;
        transform: rotate(0);
    }
}