body{
    background-color: #FF7B54;
    text-align: center;
    
    color: #37306B;
}

a {
    color: bisque;
}

p{
    line-height: 1;
    width: 35%;
    position: relative;
    margin: auto;
    
    
}

h1{
    font-size: 4rem;
    font-family: 'Lobster',cursive;
}

h2 {
    color: #FFD56F;
    font-family: 'Lobster',cursive;
    

}

h4{
    font-family: 'Monoton', cursive; 
    font-size: 1.5em;
}

hr{
    width: 35%;
    border-width: 0;
    border-top-width: 0.5rem;
    border-style: dotted;
    border-color: #a9b077;
   
}

.mountain{
    position: relative;
    bottom: 12rem;    
    width: 50%;

}

.top-container{
    position: relative;
    
}

.middle-container{
    color: #FFC3A1;
}

.bottom-cloud{
    position: relative;
    right: 12rem;     
}
.bottom-second-cloud{
    position: relative;
    width: 250px;
    bottom: 180px;
    left: 400px;   

}

.top-cloud{
    position: relative;
    left: 200px;
}

.top-second-cloud{
     position: relative;
     right: 400px;
     top: 150px;
     width: 250px;

}

